
.input {
    margin: 2vh 0;
}
#container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.input span, .output span {
    display: block;
    margin-bottom: 6vh;
    background-color: #ccc;
}
.input textarea,.output textarea{
    width: 95vw;
    height: 40vh;
}
.buttons {
    text-align: center;
    margin: 3vh 0 3vh 0;
}
.buttons button {
    padding: 2vh 10.5vw 2vh 10.5vw;
}


td {
    width: 95vw;
    padding-top: 20px;
    text-align: center;
}
tr:first-child {
    font-weight: bold;
    text-align: center;
}
tr:nth-child(even){
    background: #D3D3D3;
}
